.body {
    flex-grow: 1;
    background-color: white;
    min-height: 88vh;

    display: flex;
    flex-direction: column;
}

.top {
    background-color: bisque;
    display: flex;
    gap: 10%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    height: 40vh;
}

.top__bio {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.top__bio__info {
    display: flex;
    gap: 3%;

}

.top__bio__info__photo {
    height: 30vh;
    width: 30vh;
    background-color: dimgrey;
    display:flex;
    justify-content: center;
}

.top__bio__info__photo img {
    weight: 100%;
    height: 100%;
    border-radius: 50%;
}

.top__bio__info__text {
    margin-top: 7%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 15%;
    font-family: "Montserrat Medium";
    font-size: 120%;
}

.top__bio__org {
    margin-top: 1%;
    font-family: "Montserrat SemiBold";
    font-size: 120%;
    width: 30vh;
    text-align: center;
}

.top__calendar {
    background-color: coral;
    width: 50%;
}

.new {
    background-color: aqua;
    margin-top: 2%;
    width: 30vh;
    font-family: "Montserrat";
    font-size: 100%;
    text-align: center;
}