.body {
    flex-grow: 1;
    background-color: white;

    display: flex;
    flex-direction: column;
    min-height: 88vh;
}

.top {
    flex-grow: 1;
    background-color: black;
    color: white;
    text-align: center;
    min-height: 40vh;
}

.top__text1 {
    margin-top: 5%;
    font-size: 250%;
    font-family: "Montserrat ExtraBold", serif;
}

.top__text2 {
    margin-top: 1.5%;
    font-size: 120%;
    font-family: "Montserrat SemiBold", serif;
}

.top__start {
    margin-top: 3%;
    font-size: 120%;
    font-family: "Montserrat SemiBold", serif;
    margin-bottom: 5%;
}

.top__start button {
    background-color: dodgerblue;
    color: white;
    font-size: 100%;
    padding: 1% 6%;
    border-radius: 10px;
    cursor: pointer;
}

.middle {
    flex-grow: 1;
    background-color: white;
    color: black;
    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    flex-direction: column;
}

.middle__block {
    display: flex;
    flex-grow: 1;
    margin-top: 5%;

    gap: 8%;
}

.middle__block__text {
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    flex: 1;
}

.middle__block__photo {
    flex: 0.8;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.middle__block__photo img {
    width: 100%;
    height: 100%;
}

.middle__link {
    flex-grow: 1;
    text-align: center;
    font-size: 120%;
    margin-top: 3%;
}

.middle__link button {
    background-color: lightgrey;
    color: dimgrey;
    font-size: 100%;
    padding: 1% 2%;
    border-radius: 10px;
    cursor: pointer;
    border-style: none;
}

.bottom {
    flex-grow: 1;
    background-color: white;
    color: black;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4%;
    padding-bottom: 3%;
    text-align: center;

    display: flex;
    gap: 2%;
}

.bottom__side {
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
    height: 80%;
}

.bottom__side img {
    width: 100%;
    height: 100%;
}

.bottom__center {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 100%;
}

.bottom__center img {
    width: 100%;
    height: 100%;
}

