.top {
    display: grid;
    grid-template-columns: 70vh 50vh;
    gap: 10%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    height: 40vh;
}

.bio {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.bio__info {
    display: grid;
    gap: 3%;
    grid-template-columns: 30vh 40vh;

}

.bio__info__photo {
    height: 30vh;
    width: 30vh;
    display:flex;
}

.bio__info__photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.bio__info__text {
    margin-top: 12%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 15%;
    font-family: "Montserrat Medium", serif;
    font-size: 120%;
}

.bio__info__text2 {
    font-family: "Montserrat SemiBold", serif;
    font-size: 120%;
}

.calendar {
    background-color: dodgerblue;
    height: 35vh;
}
