.body{
    flex-grow: 1;
    background-color: white;

    display: flex;
    flex-direction: column;
    min-height: 88vh;
}

.top {
    display: flex;
    justify-content: center;
    padding: 70px;
}

.top__search {
    width: 100%;
    display: flex;
    justify-content: center;
}

.top__filters {
    background-color: aqua;
}

.events {
    flex-grow: 1;
}

.search__input{
    margin-right: 8px;
    padding: 10px 20px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid grey;
}

.search__button{
    background-color: dodgerblue;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 2px 15px;
    margin-right: 40px;

    cursor: pointer;
}

.search__select{
    border-radius: 5px;
    border: 1px solid dodgerblue;
    padding: 5px;

    color: dodgerblue;
}

.search__select:focus-visible{
    outline:none;
}

.select__option{
    color: black;
}

.empty_screen {
    margin: 0 5%;
    padding: 100px;
    gap: 3%;
    height: auto;
}