.body{
    flex-grow: 1;
    background-color: white;

    display: flex;
    flex-direction: column;
    min-height: 88vh;
}

.top {
    display: flex;
    gap: 10%;
    padding: 5% 20%;
}

.top__search {
    background-color: bisque;
    width: 60%;
    text-align: right;
}

.top__filters {
    background-color: aqua;
}

.events {
    flex-grow: 1;
}