
.body {
    flex-grow: 1;
    background-color: white;

    display: flex;
    flex-direction: column;
}

.body__top {
    flex-grow: 1;
    background-color: black;
    color: white;
    text-align: center;
}

.body__top__text-first {
    margin-top: 1.5em;
    font-size: 2.5em;
    font-family: "Montserrat ExtraBold", "Times New Roman";
}

.body__top__text-second {
    margin-top: 1em;
    font-size: 1.2em;
    font-family: "Montserrat SemiBold", "Times New Roman";
}

.body__top__start {
    margin-top: 3em;
    font-size: 1.2em;
    font-family: "Montserrat SemiBold", "Times New Roman";
    margin-bottom: 4em;
}

.body__middle {
    flex-grow: 1;
    background-color: white;
    color: black;
    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    flex-direction: column;
}

.body__middle__block {
    display: flex;
    flex-grow: 1;
    margin-top: 5em;

    gap: 10em;
}

.body__middle__block__text {
    text-align: left;
    flex: 1;
}

.body__middle__block__photo {
    flex: 0;
    padding-top: 2em;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.body__middle__link {
    flex-grow: 1;
    text-align: center;
    font-size: 1.2em;
    margin-top: 3em;
}

.body__bottom {
    flex-grow: 1;
    background-color: white;
    color: black;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4em;
    padding-bottom: 3em;
    text-align: center;

    display: flex;
    gap: 2em;
}

.body__bottom__side {
    margin-top: auto;
    margin-bottom: auto;
}

.body__bottom__center {
    margin-top: auto;
    margin-bottom: auto;
}